<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="AWSAccessKey" value="root" />
    <add key="AWSSecretKey" value="zXuO+Iq1lafD8jmilrq0afyLXnaqRwt7ZkNsy3PU" />
    <add key="AWSServiceURL" value="http://10.249.232.135:9020" />-->
    
    <add key="AWSAccessKey" value="root" />
    <add key="AWSSecretKey" value="OFt3+/qX/ofWF5jpF3APQlMZMC3vB8wwD6SgBmRa" />
    <add key="AWSServiceURL" value="http://10.249.232.134:9020" />

    <add key="AWSLogging" value="SystemDiagnostics" />
    <add key="AWSResponseLogging" value="Always" />
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="Amazon.S3.AmazonS3Client">
        <listeners></listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>