<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="root" />
    <add key="AWSSecretKey" value="/rWcB04yPmm6JHvVcEuuRa9ZnZ8+qgKo9drbvdnK" />
    <add key="AWSServiceURI" value="http://10.249.232.97:9020" />
    <add key="AWSNamespace" value="namespace1" />
    
    <add key="AWSLogging" value="SystemDiagnostics" />
    <add key="AWSResponseLogging" value="Always" />
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="Amazon.S3.AmazonS3Client">
        <listeners></listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>