<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="root" />
    <add key="AWSSecretKey" value="v4kjTqwewBn3aRG6V4KOw6hhHTHSC9mV0/hCOOum" />
    <add key="AWSServiceURL" value="http://10.249.232.134:9020" />
    <add key="AWSNamespace" value="namespace1" />
    
    <add key="AWSLogging" value="SystemDiagnostics" />
    <add key="AWSResponseLogging" value="Always" />
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="Amazon.S3.AmazonS3Client">
        <listeners></listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>